*.pyc
*.swo
*.swp
*~
.cproject
.project
.pydevproject
.subversion
botlogs/
tags
/.ninja_deps
/.ninja_log
/build.ninja
/build.ninja.dep
/cache/
/internal
/out/
/src/packaging/android_studio_plugin/*.jar
/src/packaging/android_studio_plugin/.idea/workspace.xml
/third_party/.gclient_entries
/third_party/.gclient_last_sync
/third_party/android-cts
/third_party/android-cts-media
/third_party/android-cts-x86
/third_party/android-sdk
/third_party/gdb-multiarch
/third_party/nacl_sdk
/third_party/ndk
/third_party/tools/closure_linter
/third_party/tools/python_gflags
/third_party/tools/python_mock
